In [3]:
import pandas as pd

In [12]:
workbook="4weeek-data.xlsx"

In [13]:
single_df = pd.read_excel(workbook, sheet_name='week1')

In [14]:
single_df

    id  type  cost
0    1     4    80
1    2     9    42
2    3     2    98
3    4     1    55
4    5     2    42
5    6     7    45
6    7     1    96
7    8     4    36
8    9     9    86
9   10     1    44
10  11     3    37
11  12     1    52
12  13     2    40
13  14     9    97
14  15     1    93
15  16     5    81
16  17     1    93
17  18     6    66
18  19     5    83
19  20     6    40

In [16]:
all_dfs = pd.read_excel(workbook, sheet_name=None)

In [18]:
import pandas as pd

workbook_url = 'https://github.com/chris1610/pbpython/raw/master/data/2018_Sales_Total_Tabs.xlsx'
single_df = pd.read_excel(workbook_url, sheet_name='Sheet1')

In [21]:
single_df

,account number,name,sku,quantity,unit price,ext price,date
0,412290,Jerde-Hilpert,S2-77896,43,76.66,3296.38,2018-03-04 23:10:28
1,383080,Will LLC,S1-93683,28,90.86,2544.08,2018-03-05 05:11:49
2,729833,Koepp Ltd,S1-30248,13,44.84,582.92,2018-03-05 17:33:52
3,424914,White-Trantow,S2-82423,38,50.93,1935.34,2018-03-05 21:40:10
4,672390,Kuhn-Gusikowski,S1-50961,34,48.20,1638.80,2018-03-06 11:59:00
5,239344,Stokes LLC,S2-10342,34,36.93,1255.62,2018-03-06 23:49:16
6,218895,Kulas Inc,S2-34077,30,99.73,2991.90,2018-03-07 05:15:29
7,672390,Kuhn-Gusikowski,B1-05914,25,89.86,2246.50,2018-03-07 06:25:52
8,740150,Barton LLC,S1-82801,29,60.81,1763.49,2018-03-07 10:24:54
9,218895,Kulas Inc,B1-20000,23,99.57,2290.11,2018-03-07 13:34:00
10,257198,"Cronin, Oberbrunner and Spencer",S1-30248,14,91.37,1279.18,2018-03-07 16:21:58
11,672390,Kuhn-Gusikowski,S2-83881,26,88.38,2297.88,2018-03-07 20:18:18
12,424914,White-Trantow,B1-53636,44,59.93,2636.92,2018-03-07 21:16:24
13,307599,"Kassulke, Ondricka and Metz",S2-10342,4,12.99,51.96,2018-03-07 23:59:26
14,383080,Will LLC,B1-20000,45,29.90,1345.50,2018-03-08 01:50:36
15,527099,Sanford and Sons,S2-82423,44,23.30,1025.20,2018-03-09 00:18:55
16,146832,Kiehn-Spinka,S2-77896,27,70.76,1910.52,2018-03-09 11:05:47
17,642753,Pollich LLC,B1-05914,15,65.50,982.50,2018-03-09 11:22:09
18,786968,"Frami, Hills and Schmidt",S1-65481,14,44.67,625.38,2018-03-09 19:13:11
19,527099,Sanford and Sons,S1-82801,35,95.17,3330.95,2018-03-09 19:13:20
20,257198,"Cronin, Oberbrunner and Spencer",S2-23246,43,87.40,3758.20,2018-03-10 05:39:36
21,527099,Sanford and Sons,B1-65551,6,58.04,348.24,2018-03-10 05:52:17
22,218895,Kulas Inc,S1-47412,21,94.45,1983.45,2018-03-10 11:02:14
23,729833,Koepp Ltd,S2-10342,12,93.64,1123.68,2018-03-10 13:08:45
24,412290,Jerde-Hilpert,S1-82801,26,74.79,1944.54,2018-03-11 02:49:11
25,642753,Pollich LLC,S2-77896,13,48.14,625.82,2018-03-11 06:19:26
26,218895,Kulas Inc,B1-33364,17,93.01,1581.17,2018-03-11 08:20:57
27,307599,"Kassulke, Ondricka and Metz",S1-50961,28,34.87,976.36,2018-03-11 10:49:24
28,146832,Kiehn-Spinka,S1-93683,17,10.63,180.71,2018-03-11 12:43:03
29,383080,Will LLC,S1-82801,3,77.06,231.18,2018-03-11 16:38:10
30,672390,Kuhn-Gusikowski,B1-38851,44,48.69,2142.36,2018-03-12 01:09:55
31,307599,"Kassulke, Ondricka and Metz",S2-82423,5,18.88,94.40,2018-03-12 05:21:53
32,257198,"Cronin, Oberbrunner and Spencer",S1-93683,34,79.57,2705.38,2018-03-12 08:58:47
33,729833,Koepp Ltd,B1-38851,2,61.18,122.36,2018-03-13 08:21:57
34,146832,Kiehn-Spinka,S2-77896,1,96.07,96.07,2018-03-13 09:41:36
35,239344,Stokes LLC,B1-38851,27,50.42,1361.34,2018-03-13 11:54:58
36,672390,Kuhn-Gusikowski,S1-93683,5,95.40,477.00,2018-03-14 00:19:31
37,412290,Jerde-Hilpert,S2-10342,13,70.43,915.59,2018-03-14 10:04:49
38,714466,Trantow-Barrows,B1-33087,43,32.77,1409.11,2018-03-14 12:47:48

In [25]:
all_dfs = pd.read_excel(workbook, sheet_name=None)

In [26]:
all_dfs

    id  type  cost
0    1     4    80
1    2     9    42
2    3     2    98
3    4     1    55
4    5     2    42
5    6     7    45
6    7     1    96
7    8     4    36
8    9     9    86
9   10     1    44
10  11     3    37
11  12     1    52
12  13     2    40
13  14     9    97
14  15     1    93
15  16     5    81
16  17     1    93
17  18     6    66
18  19     5    83
19  20     6    40